* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

input {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 4px;
    width: 54px;
    height: 50px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}

.crossword-container {
    width: 75%;
    height: 100%;
    text-align: center;
    background-color: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-input {
    width: 54px;
    height: 50px;
    background-color: transparent;
    font-size: 1.6rem;
    color: #ffffff;
}

.tips-container {
    width: 25%;
    height: 100%;
    padding: 24px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tips-container h1 {
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subtitle {
    transition: all .4s ease-in-out;
    margin: 6px 0;
}

.subtitle.right {
    color: #62de6b;
}

#finalText {
    align-self: center;
    opacity: 0;
    visibility: hidden;
    margin-top: 24px;
    transition: all .4s .3s ease-in-out;
}

#finalText.active {
    opacity: 1;
    visibility: visible;
}